<input type="text" [(ngModel)]="Firstname" name="Firstname" placeholder="Firstname..">
<textarea [(ngModel)]="Lastname" name="Lastname" placeholder="Lastname.."></textarea>
<textarea [(ngModel)]="Phone" name="Phone" placeholder="Phone.."></textarea>
<textarea [(ngModel)]="Mobile" name="Mobile" placeholder="Mobile.."></textarea>
<textarea [(ngModel)]="Email" name="Email" placeholder="Email.."></textarea>
<textarea [(ngModel)]="Address" name="Address" placeholder="Address.."></textarea>
<input type="submit" value="Add a Post" (click)="addPost()">

<ul *ngFor="let sample of samples | async">
  <li (click)="getPost(sample.id)">
    <strong>{{ sample.data.Firstname}} (<a href="#" (click)="deleteSample(sample.id)">delete</a>)</strong> 
    <br>
    <strong>{{sample.data.Lastname}} </strong> 
    <br>
    <strong>{{sample.data.Phone}} </strong> 
    <br>
    <strong>{{sample.data.Mobile}} </strong> 
    <br>
    <strong>{{sample.data.Email}} </strong> 
    <br>
    <strong>{{sample.data.Address}} </strong> 
  </li>
</ul>

<h1>A specific sample:</h1>

<h3>{{( sample | async)?.Firstname }}</h3>
<p>{{ ( sample | async)?.Lastname}}</p>
<p>{{ ( sample | async)?.Phone }}</p>
<p>{{ ( sample | async)?.Mobile }}</p>
<p>{{ ( sample | async)?.Email }}</p>
<p>{{ ( sample | async)?.Address }}</p>

